<%= form_for @status, html: {class: "form-horizontal"} do |f| %>
<% if @status.errors.present? %>
    <ul>
      <div class= "alert alert-danger"
        <% @status.errors.full_messages.each do |message| %>
          <p style="color:red"><%= message %></p>
          <% end %>
      </div>
    </ul>
  <% end %>

<%= form_for @status do |f| %>

  <%= f.label :status %>
  <%= f.text_field :status %>

  <%= f.label :user %>
  <%= f.text_field :user %>

  <%= f.label :number_of_likes %>
  <%= f.number_field :number_of_likes %>

  <%= f.submit %>
<% end %>

<% end %>
